@use 'utils/variables';
@use 'utils/mixins';
@use 'utils/placeholders';
@use 'components/header';
@use 'components/nav';
@use 'components/hero';
@use 'components/footer';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.button {
  @include button-style;
}